---
import App from "../App";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Actual.fyi</title>
  </head>
  <body>
    <App client:only="react" />
  </body>
</html>
